.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  color: #326a9d;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #64748b;
  margin-top: 25px;
  margin-bottom: 30px;
}
.button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #326a9d;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
}
